{% extends 'testapp/base.html'%}
{% block nav_block%}
<div class="jumbotron">
    <h1>Welcome To Sourav School Limited</h1>
    <p>We are provide What you required</p>
    <h2>Some Highlights Features</h2>
    <ol>
        <li>Digital classrooms / Interactive board..</li>
        <li>The CBSE Syllabus...</li>
        <li>Quality education through holistic development.
            .</li>
        <li>Dedicated faculty.
            .</li>
        <li>Excellent sporting facilities.
            .</li>
        <li>Well-equipped labs.
            .</li>
        <li>School bus conveyance.
            .</li>
        <li>State-of- the art campus.
            .</li>
        <li> Interactive sessions with eminent personalities
            .</li>
        <li> Value based education-sensitivity and concern for others
            .</li>
    </ol>

</div>

{% endblock %}